
@{
    ViewData["Title"] = "ApiHubContextExample";
}

@section Scripts{

    <script>

        $(document).ready(function () {

            ///BAĞLANTI İŞLEMLERİ
            const connection = new signalR.HubConnectionBuilder().
                //Bağlantı URL'sini ayarla 
                // Api uygulaması başka bir uygulama olarak ayağa kalktığı için tamamen adresini veriyoruz
                withUrl("https://localhost:7113/myhub")
                //Loglama seviyesini ayarla
                .configureLogging(signalR.LogLevel.Information).build();

            //Hub ile bağlantı başlatılır
            async function start() {

                try {
                    await connection.start().then(() => {
                        console.log("Hub ile bağlantı kuruldu");
                        //Connection ID işlemleri
                        $("#connectionId").html(`Connection Id : ${connection.connectionId}`);
                    });

                } catch (err) {
                    console.error("Bağlantı Hatası (Hub)", err);
                    setTimeout(() => start(), 2000)
                }
            }

            //bağlantı koptuğu zaman
            connection.onclose(async () => {
                //bağlanmak için bekleyecek
                await start();
            })

            start();

            ///BAĞLANTI İŞLEMLERİ

            connection.on("ReceiveMessageForAllClient", (message) => {
            
                console.log("Gelen Mesaj(API HUB)", message)
            })


            const broadcastMessageToClient = "BroadcastMessageToClient";

            $("#btn-client-toapi-hub").click(function () {
                const message = "Client üzerinden API deki hub tetiklenmiştir !!!"
                connection.invoke(broadcastMessageToClient, message).catch(errr => console.error("Hata", err));
            })

        })
        
    </script>

}

<h1>ApiHubContextExample</h1>

<button id="btn-client-toapi-hub" class="btn btn-secondary">Client üzerinden API'deki hubı tetikle'</button>
