@{
    ViewData["Title"] = "Home Page";
}


@section Scripts{
    <script src="~/js/signalr-client.js"></script>
}


<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">

            <div id="connectionId" class="alert alert-primary" role="alert">
            </div>

            <button type="button" class="btn btn-secondary disabled "> 
                Connected Client Count 
                <span id="connected-client-count" class="badge text-bg-secondary m-2">0</span>
            </button>
            <br />
            <button id="btn-send-message-all-client" class="btn btn-primary m-2">Tüm client'lara gönder</button>
            <br />
            <button id="btn-send-message-caller-client" class="btn btn-primary m-2">İstek yapan client'a gönder</button>
            <button id="btn-send-message-other-client" class="btn btn-primary m-2">Diğer clientlere mesaj gönder</button>
           <br />
           <hr />   
            <div>
				<input type="text" id="text-connectiondId" class="form-control-plaintext" placeholder="Mesaj göndermek istediğiniz client id giriniz" />
                <button id="btn-send-message-individual-client" class="btn btn-primary m-2">Spesifik cliente mesaj gönder</button>

            </div>
            
            

        <div/>
    </div>
</div>