
@{
    ViewData["Title"] = "Stram";
}
@section Scripts {
    <script src="~/js/signalr-client-stream.js"></script>
}


<h1>Stram</h1>



<hr />
<input  id="txt-stream" class="form-control" type="text" value="furkan;mete;ahmet;selami;firuze" />

<button id="btn-stream-tohub" class="btn btn-primary">Veriyi Gönder (Stream-Chunk Kullanarak)</button>

<div id="stream-box" class="alert alert-info"></div>

<hr />

<button id="btn-product-stream-tohub" class="btn btn-secondary">Ürün Verilerini Gönder (Stream)</button>

<button id="btn-from-hub-to-client" class="btn btn-secondary"> Hub'dan stream oalrak veri al (Stream)</button>
