
@{
    ViewData["Title"] = "Stram";
}
@section Scripts {
    <script src="~/js/signalr-client-stream.js"></script>
}


<h1>Stram</h1>



<input  id="txt-stream" class="form-control" type="text" value="furkan;mete;ahmet;selami;firuze" />

<button id="btn-stream-tohub" class="btn btn-primary">Veriyi Gönder (Chun Kullanarak)</button>